<!DOCTYPE HTML>
{% load static %}
<html>
<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'Css/base.css' %}">

  {%block url_block%}

  {%endblock%}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/update_logo.png' %}" alt="..." height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage">Star Pattern Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/numberpattern">Number Pattern Programs</a>
        </li>
        <li class="nav-item dropdown">

        </li>
      </ul>
    </div>
  </div>
</nav>


{%block body_block%}
{%endblock%}

<!--<section class="">-->
<!--  &lt;!&ndash; Footer &ndash;&gt;-->
<!--  <footer class="text-center text-white" style="background-color: #0a4275;">-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container p-4 pb-0">-->
<!--      &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--      <section class="">-->
<!--        <p class="d-flex justify-content-center align-items-center">-->
<!--          <span class="me-3">Register to get free notifications</span>-->
<!--          <button type="button" class="btn btn-outline-light btn-rounded">-->
<!--            Sign up!-->
<!--          </button>-->
<!--        </p>-->
<!--      </section>-->
<!--      &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: 	#008000;">
      © 2021 Copyright:
      <a class="text-white">Stack Learn</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>

</body>
</html>