<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load static %}
<html>
<head>
    {%block url_block%}
    <title>Student Learn project</title>
    <link rel="SHORTCUT ICON" href="{% static 'images/main_logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Css/home.css'%}">
    {%endblock%}

</head>
<body>
{%block body_block%}
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/first_img.png' %}" class="d-block w-100" alt="..." style="width:100%; height:400px;">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/3slider.png' %}" class="d-block w-100" alt="..." style="width:100%; height:400px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="content">
    <div id="innerwrapeer" class="innerwrapeer">
        <p>
            Python is a general purpose high level programming language, which was developed by Guido Van Rossam in 1989
            while working at National Research Institute at Netherlands. But officially it was made available to public
            in February 20th 1991 and it was recommended as First Programming Language for beginners. As a beginner
            we need to learn everything about python language and as well as pattern programs too because they are very
            important while cracking interviews.
        </p>
        <h5><u>Different types of python Pattern Programs</u></h5>
        <p>
            In python programming language, we have three types of pattern programs such as (i) Star Pattern Programs,
            (ii) Number Pattern Programs and (iii) Character Pattern Programs. We can create those pattern programs by
            using For Loops, so that we can print the statement in order to have a unique pattern. In this tutorial i'm
            going to explain the <span class="highlight"><b>TOP PYTHON PATTERN PROGRAMS</b></span> to practise for
            beginners.
        </p>
        <h2><u>Star Pattern Programs:</u></h2><br>

        <!-- first star pattern program start-->
        <h4>Program 1:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a+1):<br>
                &emsp;&emsp;print(" " * (a - i), "*" * (2*i-1))<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_1.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- first star pattern program end-->

        <!-- second star pattern program start-->
        <h4>Program 2:</h4><br>
            <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print("" * (a - i), "*" *i, end="")<br>
                &emsp;&emsp;print()
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_2.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- second star pattern program end-->

        <!-- third star pattern program start-->
        <h4>Program 3:</h4><br>
            <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - 1), end="")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                            &emsp;&emsp;print()
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_3.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- third star pattern program end-->

        <!-- fourth star pattern program start-->
        <h4>Program 4:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a+1):<br>
                &emsp;&emsp;print("* "*a)<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_4.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- fourth star pattern program end-->

        <!-- fifth star pattern program start-->
        <h4>Program 5:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a+1):<br>
                &emsp;&emsp;for j in range(1, a + 2 - i):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_5.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- fifth star pattern program end-->

        <!-- sixth star pattern program start-->
        <h4>Program 6:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter the number of rows:"))<br>
                for i in range(1, a+1):<br>
                &emsp;&emsp;print(" "*(i-1),"* "*(a+1-i))<br>

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_6.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- sixth star pattern program end-->

        <!-- seventh star pattern program start-->
        <h4>Program 7:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (i - 1), end="  ")<br>
                &emsp;&emsp;for j in range(1, a + 2 - i):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;for k in range(1, a + 1 - i):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_7.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- seventh star pattern program end-->

        <!-- eight star pattern program start-->
        <h4>Program 8:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - i), end="")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
                for k in range(1, a):<br>
                &emsp;&emsp;print(" " * k, end="")<br>
                &emsp;&emsp;for l in range(1, a + 1 - k):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_8.png'%}" class="output_1" alt="..." style="width:500px; height:500px;">
        </div><br>
        <!-- eight star pattern program end-->

        <!-- ninth star pattern program start-->
        <h4>Program 9:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
                for k in range(1, a + 1):<br>
                &emsp;&emsp;for l in range(1, a + 1 - k):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_9.png'%}" class="output_1" alt="..." style="width:500px; height:500px;">
        </div><br>
        <!-- ninth star pattern program end-->

        <!-- tenth star pattern program start-->
        <h4>Program 10:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - i), end=" ")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end="")<br>
                &emsp;&emsp;print()
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_10.png'%}" class="output_1" alt="..." style="width:600px; height:300px;">
        </div><br>
        <!-- tenth star pattern program end-->

        <!-- eleventh star pattern program start-->
        <h4>Program 11:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - i), end="")<br>
                &emsp;&emsp;for j in range(i, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;&emsp;&emsp;if i >= 2:<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;print(" " * (2 * i - 4), end="")<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;for k in range(i, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_11.png'%}" class="output_1" alt="..." style="width:600px; height:400px;">
        </div><br>
        <!-- eleventh star pattern program end-->

        <!-- twelveth star pattern program start-->
        <h4>Program 12:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (i - 1), end="")<br>
                &emsp;&emsp;for j in range(1, a + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_12.png'%}" class="output_1" alt="..." style="width:500px; height:450px;">
        </div><br>
        <!-- twelveth star pattern program end-->

        <!-- thirteen star pattern program start-->
        <h4>Program 13:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - i), end="")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print(" " * (a - i), end="")<br>
                &emsp;&emsp;for k in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_13.png'%}" class="output_1" alt="..." style="width:500px; height:450px;">
        </div><br>
        <!-- thirteen star pattern program end-->

        <!-- fourteenth star pattern program start-->
        <h4>Program 14:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (2 * a - i), end="")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
                for i in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - i), end=" ")<br>
                &emsp;&emsp;for j in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print(" " * (a - i), end=" ")<br>
                &emsp;&emsp;for k in range(1, i + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;print()<br>
            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_14.png'%}" class="output_1" alt="..." style="width:500px; height:600px;">
        </div><br>
        <!-- fourteenth star pattern program end-->

        <!-- fifteenth star pattern program start-->
        <h4>Program 15:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, 2*a+1):<br>
                &emsp;&emsp;if i % 2 == 0:<br>
                &emsp;&emsp;&emsp;&emsp;print("*"*i, end=" ")<br>
                &emsp;&emsp;else:<br>
                &emsp;&emsp;&emsp;&emsp;print("*"*(i+1), end=" ")<br>
                &emsp;&emsp;print()<br>

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_15.png'%}" class="output_1" alt="..." style="width:450px; height:600px;">
        </div><br>
        <!-- fifteenth star pattern program end-->

        <!-- sixteenth star pattern program start-->
        <h4>Program 16:</h4><br>
        <div class="myDiv"><br>
            <p>
                a = int(input("Enter a number:"))<br>
                for i in range(1, a + 1, 2):<br>
                &emsp;&emsp;for x in range(1, a + 1):<br>
                &emsp;&emsp;&emsp;&emsp;print(" " * (2 * a - x - i), end="")<br>
                &emsp;&emsp;&emsp;&emsp;for y in range(1, x + i):<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;print("*", end=" ")<br>
                &emsp;&emsp;&emsp;&emsp;print()<br>
                for j in range(1, a + 1):<br>
                &emsp;&emsp;print(" " * (a - 2), end="")<br>
                &emsp;&emsp;print("* " * 3)<br>

            </p>
        </div><br>
        <h4>Output:</h4><br>
        <div class="output1">
            <img src="{%static 'images/p_16.png'%}" class="output_1" alt="..." style="width:450px; height:600px;">
        </div><br>
        <!-- sixteenth star pattern program end-->
    </div>
</div>
{%endblock%}
</body>
</html>


